{% if is_first_visit %}
Hallo! Willkommen bei {{ organization_name }}. Ich bin dein digitaler Dichtungs-Experte. Wie kann ich dir heute bei deinem Projekt helfen?
{% else %}
Willkommen zurück! Womit machen wir weiter?
{% endif %}
