# To separate your traces from other application
LANGSMITH_PROJECT=retrieval-agent

# The following depend on your selected configuration

# LLM choice:
ANTHROPIC_API_KEY=<REPLACE_WITH_ANTHROPIC_API_KEY_OR_EMPTY>
FIREWORKS_API_KEY=<REPLACE_WITH_FIREWORKS_API_KEY_OR_EMPTY>
OPENAI_API_KEY=<REPLACE_WITH_OPENAI_API_KEY_OR_EMPTY>

# Retrieval provider

## Elastic cloud:
ELASTICSEARCH_URL=...
ELASTICSEARCH_API_KEY=<REPLACE_WITH_ELASTICSEARCH_API_KEY_OR_EMPTY>

## Elastic local:
ELASTICSEARCH_URL=http://host.docker.internal:9200
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD=<REPLACE_WITH_ELASTICSEARCH_PASSWORD_OR_EMPTY>

## Pinecone
PINECONE_API_KEY=<REPLACE_WITH_PINECONE_API_KEY_OR_EMPTY>
PINECONE_INDEX_NAME=...

## Mongo Atlas
MONGODB_URI=... # Full connection string
