{% set title = "Parameter-Resolver" %}
Um eine belastbare Materialempfehlung zu geben, brauche ich kurz:
{% for param in required_params %}
• {{ param }}
{% endfor %}

{% if hints %}
{% for line in hints %}
{% if line %}
{{ line }}
{% endif %}
{% endfor %}
{% endif %}
